NEXT_PUBLIC_WORDPRESS_URL=https://gsmadrid-2-wordpress.a7lflv.easypanel.host
NEXT_PUBLIC_SITE_URL=https://gsmadrid.uptomarketing.com
NEXT_PUBLIC_GRAPHQL_URL=https://gsmadrid-2-wordpress.a7lflv.easypanel.host/graphql
